
@{
    ViewBag.Title = "Cognitive Services";
}

<h2>Lista funkcji:</h2>

@Html.ActionLink("Opisywanie ludzi", "Detect", "FaceApi", null, null)
<br/>
@Html.ActionLink("Opisywanie obrazków", "Describe", "ComputerVision", null, null)